body {
	background-image:linear-gradient(to right, pink, lightgrey);
}




img {
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 15px;
}

.center {
	text-align: center;
}

.Bio {
margin-left: 29px;
}

.Ed {
margin-right: 29px;
}

#img1 {
margin-top: 20px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
  background-color: DarkSalmon;
}


