body {
	background-image:linear-gradient(to right, pink, lightgrey);
}



.center {
	text-align: center;
}


.fa:hover {
    opacity: 0.7;
}


.me {
	text-align: center;
	font-size: 120%;
}

.table
{
	font-size: 120%;
}

.button
{
	text-align: center;
}



/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width: 480px) {
	
	.Education {
		margin-right: 89px;
	}
	
	
}


	
	
	


	
	
/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/
@media only screen and (min-width:481px) {
	
	
	
}
