body {
	background: lightblue;
}

.caljs {
	margin-left: 20px;
	margin-top: 10px;
}

.button {
	margin-left: 20px;
}









/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width: 480px) {
		.calculatory {
			width: 100%;
				}
				
				
				
		body {
			background-image: linear-gradient(to right, red, yellow);
		}
	
}
	

	
/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/

@media only screen and (min-width:481px) 
