body {
	margin: 0;
	padding: 5px;
	background-image: linear-gradient(to right, pink, lightgrey);
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: Darksalmon;
}

li {
	float: left;
	display: inline;
}

	li a {
		display: block;
		color: black;
		text-align: center;
		padding: 20px 40px;
		text-decoration: none;
	}

		li a:hover {
			background-color: lightcyan;
		}

.active {
	background-color: hotpink;
}





/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width: 480px) {
		body {
	background: lightblue;
	
}


}





/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/

@media only screen and (min-width:481px)  {
	
	
	
}
