body {
	margin: 0;
	padding: 5px;
	background-image: linear-gradient(to right, pink, lightgrey);
}

h1{
text-align: center;
}

#Pik {
margin-right: auto;
margin-left: auto; 
}

#clock {
margin-right: ;
margin-left: ;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: Darksalmon;
}

li {
	float: left;
	display: inline;
}

	li a {
		display: block;
		color: black;
		text-align: center;
		padding: 20px 40px;
		text-decoration: none;
	}

		li a:hover {
			background-color: lightcyan;
		}

.active {
	background-color: hotpink;
}











/* Import Design Styles */
@import url("") only screen;
 



/* Flex Layout Styles */










/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width: 480px)
	








/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/



